h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 1em;
}

.container {
    /* background-color: aqua; */
    width: 80%;
}

.header {
    margin-top: 3em;
    margin-bottom: 3em;
}

.subheading {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.about {
    font-weight: 400;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(14em, auto);
    align-items: start;
    gap: 2em;
    margin-bottom: 5em;
}

.image {
    width: 100%;
}

/* .img-item:nth-child(2n) {
    align-self: end;
} */

/* .item-2 {
    align-self: end;   
} */

.name {
    font-size: 0.7rem;
}

.designation {
    font-size: 0.5rem;
    margin-left: 0;
    writing-mode: vertical-lr;
}

.footer {
    font-size: 0.6rem;
    text-align: center;
    height: 10%;
}

@media (min-width: 391px) {
    .img-container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(31em, auto);
    }

    .img-item:nth-child(3n + 2) {
        align-self: end;
    }
}

@media not all and (min-width: 391px) {
    .img-item:nth-child(2n) {
        align-self: end;
    }
}